html,
body {
    padding: 0;
    margin: 0;
    font-family: Poppins;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

button {
    appearance: none;
    border: 2px solid #3555be;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #fffffff2;
    border-radius: 3px;
    transition: 0.3s;
    background-color: transparent;
    font-weight: 400;
    font-size: 0.82em;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    border: 2px solid #3857bd;
    color: #ffffffe4;
    background-color: #283f8a;
}

button:active {
    border: 2px solid #ffffff00;
    color: #ffffffe4;
    background-color: #283f8a;
}

/*Textbox styles*/
.textbox {
    background-color: #fff;
    border: 2px solid #0000000d;
    display: flex;
    appearance: none;
    outline: none;
    border-radius: 6px;
    padding: 12px;
    color: #4d4d4d;
    font-weight: 500;
    transition: 0.3s;
}

.textbox:focus {
    background-color: #0000000d;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}
