.image_list {
    line-height: 0;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    column-count: 3;
    column-gap: 0px;
    width: 100% !important;
    overflow: hidden;
}

.winners_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.winners_container h2 {
    color: #fff;
}

.presentation_container {
    display: flex;
    padding-top: 10px;
    width: 100%;
    flex-direction: column;
    gap: 16px 0;
    background-color: #1b2c65;
    padding: 12px;
    align-items: center;
    justify-content: center;
}

.presentation_container span {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

@media (max-width: 700px) {
    .image_list {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
